.aura-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &:before {
    background: linear-gradient(180deg, $blackColor, rgba($blackColor, 0));
    width: 100%;
    height: 170rem;
    content: '';
    position: absolute;
    top: 80rem;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }
  &__body {
    margin-top: 90rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    &-container {
      max-height: 100%;
      margin-top: auto;
    }
  }
  &__footer {
    width: 100%;
    margin: 0 auto;
  }
  &__block {
  }
  &__user {
  }
  &__form {
    max-width: $sizeAreaChat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $blackColor;
    border-radius: $radiusMd;
    position: relative;
    overflow: hidden;
    &-textarea {
      background: $blackColor;
      max-width: 100%;
      min-width: 108rem;
      max-height: 148rem;
      min-height: 40rem;
      padding: 8rem 56rem 7rem 18rem;
      display: block;
      font-weight: 300;
      font-size: var(--fs-7);
      line-height: 1.25;
      color: $whiteColor;
      caret-color: transparent;
      outline: none;
      box-shadow: inset 0 0 0 1px $grayColor;
      border-radius: $radiusMd;
      transition: all .6s;
      resize: none;
      overflow: auto;
      &.is-typing {
        caret-color: $whiteColor;
      }
      &.is-typing:after {
        opacity: 0;
        visibility: hidden;
      }
      &:after {
        background: currentColor;
        width: 1px;
        height: 1.2em;
        margin: -.22em 0 0;
        content: '';
        display: inline-block;
        animation: blinkCursor 1.2s infinite;
        position: relative;
        left: -1px;
        transition: all .4s;
        vertical-align: middle;
        @keyframes blinkCursor {
          0%, 50% {
            opacity: 0;
          }
          51%, 100% {
            opacity: 1;
          }
        }
      }
    }
    &-btn {
      @extend %area-click, %btn-reset;
      width: 24rem;
      height: 24rem;
      margin: 0 0 0 -24rem;
      display: block;
      align-self: flex-end;
      color: $whiteColor;
      flex-shrink: 0;
      transition: $transition;
      top: -8rem;
      left: -8rem;
      cursor: pointer;
      &:hover {
        @media (min-width: $md-mf) {
          opacity: .6;
        }
      }
      &.is-right {
        .u-icon {
          transform: rotate(90deg);
        }
      }
      .u-icon {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  &__nav {
    margin: 34rem auto 15rem;
    font-size: var(--fs-5);
    color: $gray1Color;
    transition: $transition;
    transition-property: margin;
    @media (max-width: $md) {
      margin: 50rem auto 10rem;
      font-size: 12rem;
    }
    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      list-style-type: none;
      @media (max-width: $exs) {
        margin: 0 auto;
        max-width: 220rem;
        flex-wrap: wrap;
      }
    }
    &-item {
      margin: 0;
      padding: 0;
      &:not(:last-child) {
        margin-right: 24rem;
        @media (max-width: $md) {
          margin-right: 10rem;
        }
        @media (max-width: $exs) {
          margin-right: 6rem;
        }
      }
    }
    &-link {
      display: block;
      transition: $transition;
      &:hover {
        color: rgba($white1Color, .5);
        text-decoration: none;
      }
    }
  }
  &__copyright {
    margin: 0 auto 40rem;
    color: rgba($white1Color, .5);
    text-align: center;
    @media (max-width: $md) {
      margin-bottom: 15rem;
    }
  }
  &__main {
    max-width: $sizeAreaChat;
    margin: 0 auto;
    padding: 120rem 0 30rem;
  }
  &__card {
    padding-bottom: 24rem;
    overflow: hidden;
    @media (max-width: $md) {
      padding-bottom: 20rem;
    }
    &-list {
      margin-bottom: -24rem;
      @media (max-width: $md) {
        margin-bottom: -20rem;
      }
    }
    &-name {
      margin: 0 0 6rem;
      font-weight: bold;
      font-size: var(--fs-8);
      word-wrap: break-word;
      @media (max-width: $sm) {
        margin-bottom: 2rem;
        font-size: 16rem;
      }
    }
    &-text {
      margin: 0;
      padding: 0 0 10px;
      display: inline;
      font-weight: 300;
      font-size: var(--fs-7);
      line-height: 1.25;
      font-family: inherit;
      word-wrap: break-word;
      white-space: pre-wrap;
      position: relative;
      @media (max-width: $sm) {
        font-size: 14rem;
      }
      &:after {
        background: $whiteColor;
        height: 1.4em;
        margin: -0.2em -50rem 0 -50rem;
        filter: blur(12px);
        padding: 0 60rem 1.4em 0;
        vertical-align: middle;
        display: inline-block;
        content: '';
        border-radius: 8rem;
        pointer-events: none;
        transition: all .4s;
        opacity: .18;
      }
    }
    &-dot {
      background: url(../images/loader.gif) 50% / contain no-repeat;
      width: 26rem;
      height: 26rem;
      border-radius: 50%;
    }
  }
  &__hint {
    padding: 90rem 0 0;
    @media (max-width: $md) {
      padding-top: 40rem;
    }
    &:not(.is-show) {
      display: none;
    }
    &-title {
      margin: 0 0 10rem;
      font-weight: normal;
      font-size: 18rem;
      @media (max-width: $md) {
        margin-bottom: 6rem;
        font-size: 14rem;
      }
    }
    &-list-wrapper {
      margin: 0 var(--gap-);
      padding: 0 var(--gap);
      position: relative;
      @media (max-width: $md) {
        margin-bottom: -10rem;
        overflow: hidden;
      }
      &:before,
      &:after {
        @media (max-width: $md) {
          width: var(--gap);
          height: 100%;
          content: '';
          position: absolute;
          top: 0;
          pointer-events: none;
        }
      }
      &:before {
        @media (max-width: $md) {
          background: linear-gradient(to right, rgba($blackColor, 1) 20%,rgba($blackColor, 0) 100%);;
          left: 0;
        }
      }
      &:after {
        @media (max-width: $md) {
          background: linear-gradient(to right, rgba($blackColor, 0) 0%,rgba($blackColor, 1) 80%);;
          right: 0;
        }
      }
    }
    &-list {
      margin-bottom: -12rem;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $md) {
        margin: 0 var(--gap-) -20rem;
        padding: 0 var(--gap) 20rem;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        &::-webkit-scrollbar:horizontal {
          width: 0;
          height: 0;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 9999px;
        }
        &::-webkit-scrollbar-thumb {
          background: transparent;
          border-color: transparent;
          border-width: 0;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: transparent;
        }
      }
    }
    &-card {
      margin: 0 8rem 12rem 0;
      @media (max-width: $md) {
        margin-bottom: 0;
      }
      &:last-child {
        @media (max-width: $md) {
          margin-right: 0;
        }
      }
    }
  }
}

body {
  &.is-chat {
    .aura-chat__nav {
      margin-top: 20rem;
    }
    .aura-chat__form {
      &-textarea {
        min-width: 100%;
      }
    }
    .aura-intro__content {
      display: none;
    }
    .aura-intro__media {
      transform: scale(3);
    }
    .aura-chat__form-textarea {
      caret-color: #fff;
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.aura-chat__card-text:not(.is-active):after {
  width: 0;
  opacity: 0;
  visibility: hidden;
}