<header class="header">
  <div class="container header__container">
    <a href="/" class="header__logo">
      <img src="images/logo.svg" alt="AuraAI logo">
    </a>
    <nav class="header__nav" role="navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link header__nav-link--about">about ńioņ</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">for investors</a>
        </li>
      </ul>
    </nav>
  </div>
</header>