*,*:before,*:after{margin:0;padding:0;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted buttontext}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

html {
  font-size: $siteResolution;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: $blackColor;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: var(--fs-default);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  color: $fontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

input,
button,
select,
textarea {
  font-weight: normal;
  font-family: $fontFamily;
  line-height: $lineHeightDefault;
}

input,
button {
  appearance: none;
}

picture,
time,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-size-1,
.text-size-2,
.text-size-3,
.text-size-4,
.text-size-5,
.text-size-6 {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-family: $accentFont;
  line-height: $lineHeightTitle;
}

h1,
.text-size-1 {
  font-size: var(--fs-1);
}

h2,
.text-size-2 {
  font-size: var(--fs-2);
}

h3,
.text-size-3 {
  font-size: var(--fs-3);
}

h4,
.text-size-4 {
  font-size: var(--fs-4);
}

h5,
.text-size-5 {
  font-size: var(--fs-5);
}

h6,
.text-size-6 {
  font-size: var(--fs-6);
}

svg,
.u-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  color: inherit;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important;
  padding: 0!important;
  position: absolute!important;
  border: 0!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  overflow: hidden!important;
}

#root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: clip;
}

.site {
  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &-intro {
      flex-grow: 1;
    }
    &-aura {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
    }
  }
  &__chat {
  }
}

::-webkit-scrollbar {
  height: 10rem;
  width: 5rem;
}

::-webkit-scrollbar:horizontal {
  height: 5rem;
  width: 10rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217,217,227,.8);
  border-color: rgba(255,255,255, 1);
  border-radius: 9999px;
  border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(217,217,227, 1);
}